{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-6 shadow bg-image" style="background-image: url('https://w0.peakpx.com/wallpaper/41/464/HD-wallpaper-female-anime-character-leaning-on-silver-coupe-car-%E2%80%A2-for-you.jpg'); background-size: cover;" >
    <div class="my-5 ">
      <div class="p-5 text-center">
        <div class="container py-5">
          <h1 class="text-body-emphasis">Weeb Posting!</h1>
          <p class="col-lg-8 mx-auto lead">
            The ideal site for your weeb posting!
          </p>
          <p>Create, publish, comment and more!</p>
          {% if user.is_authenticated %}
          <a class="btn btn-secondary btn-lg mt-3" href="{% url 'article_new' %}" role="button">Create New Post</a>
          {% else %}
          <a class="btn btn-secondary btn-lg mt-3" href="{% url 'signup' %}" role="button">Register Now!</a>
          {% endif %}
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-6 ">
    <div class="my-5">
      <div class="p-4 text-center">
        <div class="container py-5">
          <h1 class="text-body-emphasis">About!</h1>
          <p class="col-lg-12 mx-auto lead text-muted">
            Weeb posting is a simple web application that I made with the basic functions present in most websites, such as creating, editing, and deleting posts. Also, you can create an account and edit your profile page!
          </p>
          {% if user.is_authenticated %}
          <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">View All Posts</a>
          {% else %}
          <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Log In!</a>
          {% endif %}
          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger alert-dismissible fade show mt-5" role="alert" style="opacity: 0.5;">
  <strong>Note!</strong>: This app is not connected to any online database, consequently, all the information entered on this website will not be persistent. This site is basically a live demo, feel free to create an account, edit your profile and post!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endblock content %}